@model System.Collections.Generic.ICollection<TechCalendar.Client.Event>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Events</h1>
    @foreach (var e in Model)
    {
        <div>
            <strong>Name: </strong>@e.Title
        </div>
        <div>
            <strong>Stream: </strong>@e.Url
        </div>
        <div>
            <strong>Start: </strong>@e.Start.ToString()
        </div>
        <div>
            <strong>End: </strong>@e.End.ToString()
        </div>
        <hr/>
    }
</div>