@{
    ViewData["Title"] = "stream-schedule.io";
}

<div class="row">
    <div class="col-md-12">
        <div class="card bg-light" style="margin-bottom: 15px;">
            <div class="card-body">
               Calendar for tech and gaming streams/events
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>

@section Styles {
    <link rel="stylesheet" href="~/lib/fullcalendar/core/main.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/daygrid/main.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/timegrid/main.min.css" />
}

@section Scripts {
    <script src="~/lib/fullcalendar/core/main.min.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.min.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.min.js"></script>

    <script>
        const events = @Html.Raw(Json.Serialize(Model));

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid', 'timeGrid' ],
                defaultView: 'dayGridMonth',
                nowIndicator: true,
                header: {
                    left:   'title',
                    center: '',
                    right: 'today dayGridMonth,timeGridWeek prev,next',
                },
                events: function (info, successCallback, failureCallback) {
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: 'POST',
                        url: '/Home/GetEvents',
                        data: JSON.stringify({
                            start: info.startStr,
                            end: info.endStr
                        }),
                        dataType: 'json',
                        sucess: function (data, status) {
                            successCallback(data);
                        }
                    });
                },
            });

            calendar.render();
        });
    </script>
}