@{
    ViewData["Title"] = "stream-schedule.io";
}

@if (TempData["SubmitEvent"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Thanks for submitting an event 👌️</h4>
        We will check your submission and add it to the calendar asap!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card bg-light" style="margin-bottom: 15px;">
            <div class="card-body">
               Calendar for tech and gaming streams/events
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>

@section Styles {
    <link rel="stylesheet" href="~/lib/fullcalendar/core/main.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/daygrid/main.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/list/main.min.css" />
}

@section Scripts {
    <script src="~/lib/fullcalendar/core/main.min.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.min.js"></script>
    <script src="~/lib/fullcalendar/list/main.min.js"></script>

    <script>
        const events = @Html.Raw(Json.Serialize(Model));

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid', 'list' ],
                defaultView: 'dayGridMonth',
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,listMonth'
                },
                events: function (info, successCallback, failureCallback) {
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: 'POST',
                        url: '/Home/GetEvents',
                        data: JSON.stringify({
                            start: info.startStr,
                            end: info.endStr
                        }),
                        dataType: 'json',
                        success: function (data, status) {
                            successCallback(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            failureCallback(errorThrown);
                        }
                    });
                },
            });

            calendar.render();
        });
    </script>
}