@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The webserver of this website collects logs containing
</p>
<ul>
    <li>ip address</li>
    <li>operating system name and version</li>
    <li>browser name and version</li>
    <li>pages visited on this website</li>
</ul>
<p>
    of visitors. These infos are used only in error cases for debugging 
    purposes and are not shared with any third party. No other data is 
    collected.
</p>
<p>
    To ensure a secure and private connection, this site is only reachable 
    via HTTPS using an SSL certificate provided by 
    <a href="https://letsencrypt.org/">Lets Encrypt</a>. The server
    is hosted by <a href="https://www.digitalocean.com/">Digital Ocean</a>.
</p>

<h2>
    Contact
</h2>
<p>
    This site is still in very early in development. If you have any suggestions, bugs
    or feature requests write me at <b>adrian.kuper@hotmail.de</b>.
</p>